<div class="col-12 px-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
                
                <div class="dropdown">
                    <button class="btnOpcion dropdown-toggle border border-secondary border-right-0 px-4 py-1" type="button" data-toggle="dropdown" aria-expanded="false">Archivo</button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item text-white" type="button" (click)="add_tab()">Nuevo</button></li>
                        <li><input #inputFile type="file" style="display: none;" (change)="openFile($event)"/><button class="dropdown-item text-white" type="button" (click)="openFileExplorer(inputFile)">Abrir</button></li>
                        <li><button class="dropdown-item text-white" type="button" (click)="save()">Guardar</button></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btnOpcion dropdown-toggle border border-secondary border-right-0 px-4 py-1" type="button" data-toggle="dropdown" aria-expanded="false">Pestaña</button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item text-white" type="button">pestaña</button></li>
                    </ul>
                </div>
                <div><button class="btnOpcion border border-secondary border-right-0 px-4 py-1" (click)="run()"><i class="fa-solid fa-play fa-xs"></i> Ejecutar</button></div>
                <div class="dropdown">
                    <button class="btnOpcion dropdown-toggle border border-secondary px-4 py-1" type="button" data-toggle="dropdown" aria-expanded="false">Reporte</button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item text-white" type="button">Tokens</button></li>
                        <li><button class="dropdown-item text-white" type="button">Errores</button></li>
                        <li><button class="dropdown-item text-white" type="button">Tabla de Simbolos</button></li>
                        <li><button class="dropdown-item text-white" type="button">Arbol de Analisis</button></li>
                    </ul>
                </div>         

            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-1 py-3"></div>
                        <div class="col-11 py-3 px-0">Entrada</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1 py-3"></div>
                        <div class="col-11 py-3 px-2">Salida</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div class="containerTabs row">
                                <div class="boton border border-secondary col-3 px-0" *ngFor="let tab of tabs; let i = index;">
                                    <div class=" bg-secondary pr-1" *ngIf="currentTab==i; else noSelected" ><button class="btnTab text-white" (click)="select_tab(i)">{{ tab.nombre }}</button><i class="btnDel fa-solid fa-xmark" (click)="delete_tab(i)"></i></div>
                                    <ng-template #noSelected><div class="pr-1"><button class="btnTab text-white" (click)="select_tab(i)">{{ tab.nombre }}</button><i class="btnDel fa-solid fa-xmark" (click)="delete_tab(i)"></i></div></ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="containerConsole containerInputCode col-12 border border-secondary pr-4">
                            <div class="row">
                                <div class="containerNumberLine text-right col-1 py-2">
                                    <ng-container *ngFor="let line of linesInputConsole; let i = index">{{ i + 1 }}<br/></ng-container>
                                </div>
                                <div class="col-11 p-0">
                                    <textarea #inputConsole class="p-2"  id="textarea1" rows="20" spellcheck="false" (input)="autoExpand(inputConsole)" [(ngModel)]="tabs[currentTab].contenido_actual" (input)="updateLinesInputConsole()" (keydown)="onKeyPress($event)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 pl-4">
                    <div class="row">
                        <div class="containerConsole containerOutputCode col-12 border border-secondary pr-4">
                            <div class="row">
                                <div class="containerNumberLine text-right col-1 py-2">
                                    <ng-container *ngFor="let line of linesOutputConsole; let i = index">{{ i + 1 }}<br/></ng-container>
                                </div>
                                <div class="col-11 p-0">
                                    <textarea #outputConsole class="p-2" id="textarea2" rows="20" spellcheck="false" (input)="autoExpand(outputConsole)" [(ngModel)]="outputConsoleContent" (input)="updateLinesOutputConsole()" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>